.footer {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__title {
  color: #545454;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .footer {
    max-width: 282px;
    flex-shrink: 0;
    padding-top: 48px;
    padding-bottom: 0;
  }
  .footer__title {
    font-size: 14px;
    margin: 0;
    padding-bottom: 36px;
  }
}
