.header {
  margin-top: 45px;
  padding: 0 0 30px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 680px) {
  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 20px;
  }
  .header {
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    max-width: 100%;
  }
}
