.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
}

.modal__heading {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 29.74px;
  color: #000;
  width: 358px;
  height: 14px;
  flex-shrink: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal__container {
  position: relative;
  background-color: #fff;
  padding: 36px;
  margin: auto;
  border-radius: 10px;
  width: 430px;
  height: 330px;
  flex-shrink: 0;
}

.modal__close {
  width: 40px;
  height: 40px;
  background-image: url("../Images/Close\ Icon.svg");
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
}

.modal__button {
  padding: 438px, 461px, 231px;
  width: 358px;
  height: 50.152px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #000;
  color: #fff;
  top: 438px;
  left: 461px;
}
