.page {
  background-color: black;
  color: white;
}

.page__section {
  max-width: 882px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

.page__content {
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
