.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}
.profile__edit-button {
  background: transparent url(../Images/Edit\ Button.svg) center no-repeat;
  width: 24px;
  line-height: 48px;
  padding-left: 35px;
  grid-area: button;
  border: white;
  border-radius: 2px;
}
.profile__edit-button:hover {
  background: transparent url(../Images/Edit\ Button\ -\ hover.svg) center
    no-repeat;
  cursor: pointer;
}
.profile__add-button {
  background: transparent url(../Images/AddButton.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.profile__add-button:hover {
  background: transparent url(../Images/Add-no-hover.svg);
  cursor: pointer;
  opacity: 0.2s;
}
.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", Arial, sans-serif;
}
.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400px;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 373px;
  overflow: hidden;
  font-family: "Inter", Arial, sans-serif;
}
.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }
}
